.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 6%;
  background: rgba(2, 6, 23, 0.75);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.nav-logo {
  font-size: 28px;
  font-weight: 800;
  padding: 5px 0;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
  font-size: 18px;
  font-weight: 500;
}

.nav-menu li {
  position: relative;
  cursor: pointer;
  padding: 5px 0;
}

.nav-menu li::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 3px;
  background: var(--accent-gradient);
  border-radius: 10px;
  transition: width 0.3s ease;
}

.nav-menu li:hover::after,
.nav-menu li.active::after {
  width: 50%;
}

.nav-menu li:hover {
  color: var(--primary-color);
}

.anchor-link {
  text-decoration: none;
  color: white;
}

.nav-connect {
  padding: 14px 28px;
  border-radius: 40px;
  background: var(--accent-gradient);
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.nav-connect:hover {
  transform: scale(1.05);
}

.nav-mob-open,
.nav-mob-close {
  display: none;
}

@media (max-width: 768px) {
  .nav-connect {
    display: none;
  }

  .nav-mob-open {
    display: block;
    width: 30px;
    cursor: pointer;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: -350px;

    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

    width: 280px;
    height: 100vh;

    padding: 100px 40px;
    background: #020617;

    transition: 0.5s;
    z-index: 1100;
  }

  .nav-mob-close {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 26px;
  }

  .nav-menu li {
    font-size: 20px;
    width: fit-content;
  }
}
